.map {
    grid-area: map;
}

.content {
    grid-area: content;
}

.PDF {
    grid-area: PDF;
}

.title {
    grid-area: title;
}

.image {
    grid-area: image;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'title'
        'content'
        'map'
        'image'
        'PDF';

    grid-gap: 10px;
    background-color: hsla(207, 90%, 54%, 0.5);
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
}
@media screen and (min-width: 769px) {
    .grid-container {
        grid-template-areas:/*<- 그리드 아이템 배열 순서 */
            ' title title title'
            ' content image map'
            ' PDF PDF PDF';
         grid-template-columns: 1fr 1fr 1fr; /*<- 그리드 비율 2:1:1 */
         grid-template-rows: auto 1fr 2fr;

        grid-gap: 10px;
        background-color: hsla(207, 90%, 54%, 0.5);
        padding: 10px;
    }
    
}